<form class="signup" name="contactForm"  method="post">
  <h2>Application Form</h2>
  <div class="row">
    <label >state </label> 
    <select name="subject" id="state">
       <option value="" selected="selected">Select state</option>
     </select>
    </div>
  
  <div class="row">
    <label >district </label> <select name="topic" id="district">
      <option value="" selected="selected">select district</option>
    </select>
  
  </div>
  <div class="row">
    <label >distination</label>
    <select name="chapter" id="distination">
        <option value="" selected="selected">select distination</option>
      </select>
                   
  </div>
  <div class="row">
     <label>seat count</label>
     <div class="value-button" id="decrease" onclick="decreaseValue()" value="Decrease Value">-</div>
    <input type="number" id="number" value="0" />
    <div class="value-button" id="increase" onclick="increaseValue()" value="Increase Value">+</div>
  
  </div>
  <div class="row">
      <input type="button"  value="Book now" data-toggle="modal" data-target="#myModal" onclick="display()">
  </div>
  </form>
  
  